<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>设备列表</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">设备编码</th>
                    <th width="10%">设备名称</th>
                    <th width="5%">端口号</th>
                    <th width="10%">所属区划</th>
                    <th width="10%">安装日期</th>
                    <th width="10%">位置经度</th>
                    <th width="10%">位置纬度</th>                   
                    <th width="10%">具体地址</th>
                    <th width="10%">所属公司</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>