<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="LastLoginName" value="admin|"/>
    <!--<add key="ConnectionString" value="Y79UlDSjRq/8GISp0AUwadn4mBeK/saBqlOCRo+5gZfAqRt1LqIefHfYbc+e5dvipT0hLzERD8fhhSQLjS4JeY/TCYLed3mIAlDLgyE16epp/KALNrXjZQ=="/>-->
    <add key="ConnectionString" value="Y79UlDSjRq+GuqphCRyAwLS7jio3SYu0+vMGNMKmWXFBHAeTW45fRhkQKJ0i3cJdJ1C2duxEjDKyfCcQFqrPIMRX0zc7mI30rZH81NwTArMdcJUHEnGknQ=="/>
    <!--<add key="RedirectorURLX" value="tcp://118.145.14.89:5000/Redirector.rem"/>-->
    <add key="RedirectorURL" value="tcp://182.61.102.48:5000/Redirector.rem"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.runtime.remoting>
    <application>
      <client>
        <!--<wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://118.145.14.89:5000/RemoteCommandObject.rem"/>-->
        <wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://182.61.102.48:5000/RemoteCommandObject.rem"/>
        <!--<wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://127.0.0.1:5000/RemoteCommandObject.rem" />-->
      </client>
      <channels>
        <channel ref="tcp" port="5002" timeout="10000" >
          <serverProviders>
            <provider type="Reachability.ServerSinkProvider, Reachability"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <provider type="Reachability.ClientSinkProvider, Reachability"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
