<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->

    <script src="~/Plugins/echarts/echarts.min.js"></script>
    <script src="~/Plugins/echarts/vintage.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['结余', '佣金', '保费']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'value'
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    axisTick: { show: false },
                    data: ['北京分公司', '天津分公司', '山东分公司', '上海分公司', '长沙分公司', '西安分公司', '服务中心']
                }
            ],
            series: [
                {
                    name: '结余',
                    type: 'bar',
                    label: {
                        normal: {
                            show: true,
                            position: 'inside'
                        }
                    },
                    data: [5598465.01, 1902549.02, 2157777.3, 1592177.35, 916445.29, 910703, 559369.24]
                },
                {
                    name: '保费',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    data: [7391635.20, 3627891.92, 5395422.50, 2918714.59, 1918274.45, 1876412.23, 1457822.10]
                },
                {
                    name: '佣金',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'left'
                        }
                    },
                    data: [-1793170.19, -1725342.90, -3237645.20, -1326537.23, -1001829.15, -965709.23, -898452.86]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>