<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- Entity Framework 6 configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup></configSections>
  <connectionStrings>
    <add name="defaultX" providerName="System.Data.SqlClient" connectionString="Data Source=182.61.102.48;Initial Catalog=IEHNCS_DB;Persist Security Info=True;User ID=iehncs;Password=iehncs2011;MultipleActiveResultSets=True" />
    <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=101.200.197.121;Initial Catalog=IEHNCS_DB;Persist Security Info=True;User ID=iehncs;Password=iehncs2011;MultipleActiveResultSets=True" />
    <!--<add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=IEHNCS_DB;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" />-->
   <!--<add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=101.200.197.121;Initial Catalog=QuickRMS;Persist Security Info=True;User ID=sa;Password=Lyh123;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <appSettings>
    <!--无测试环境直接用历史数据返回测试-->
    <add key="IsTest" value="false" />
    <add key="xTestGuid21" value="1ab353e3-eefe-4e91-85d2-6f89b10d8562" />
    <add key="xTestGuid20" value="36c1c39c-cdd9-45c0-8cf9-d10ce33b6309" />
    <add key="xTestGuid24" value="6c9a5921-94ab-4a88-9238-9368e74c302c" />
    
    
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ConnectionString" value="Y79UlDSjRq+GuqphCRyAwLS7jio3SYu0+vMGNMKmWXFBHAeTW45fRhkQKJ0i3cJdBLpm7lqoEaN7apys0IpNZJxpjaS3oCyRiFgytbY6w+1q2eUn3EbUxw==" />-->
    <!--Data Source=101.200.197.121;Initial Catalog=IEHNCS_DB;User ID=iehncs;Password=iehncs2011-->
    <add key="ConnectionString" value="Y79UlDSjRq8kUy6Xw89ybtpZMktIIyHMhbr2o6gzyUPQiGCs8Dd3PfNx3ZyQ7HZ4wu3lN/xGhJPUR1Jyjltgom5EYOPUYmydN2l/H+g3TrzN09PXac1m15s3woHuOpbs" />
    <add key="RedirectorURLX" value="tcp://182.61.102.48:5000/Redirector.rem" />
    <add key="RedirectorURL" value="tcp://101.200.197.121:5000/Redirector.rem" />
    <!-- Close Browser Link -->
    <add key="vs:EnableBrowserLink" value="false" />
  <add key="elmah.mvc.disableHandler" value="false" /><add key="elmah.mvc.disableHandleErrorFilter" value="false" /><add key="elmah.mvc.requiresAuthentication" value="false" /><add key="elmah.mvc.IgnoreDefaultRoute" value="false" /><add key="elmah.mvc.allowedRoles" value="*" /><add key="elmah.mvc.allowedUsers" value="*" /><add key="elmah.mvc.route" value="elmah" /></appSettings>
  <system.web>
    <sessionState timeout="1500" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  
  <system.runtime.remoting>
    <application>
      <client>
        <!--<wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://118.145.14.89:5000/RemoteCommandObject.rem"/>-->
        <!--<wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://182.61.102.48:5000/RemoteCommandObject.rem" />-->
        <wellknown type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary" url="tcp://101.200.197.121:5000/RemoteCommandObject.rem" />
        <!--<wellknown
         type="RemoteObjectLibrary.RemoteCommand, RemoteObjectLibrary"
         url="tcp://127.0.0.1:5000/RemoteCommandObject.rem" />-->
      </client>
      <channels>
        <channel ref="tcp" port="5001" timeout="10000">
          <serverProviders>
            <provider type="Reachability.ServerSinkProvider, Reachability" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="Reachability.ClientSinkProvider, Reachability" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
  </system.webServer>
  <elmah>
    <!--0 means only can view on local, 1 means can view on local and remote -->
    <security allowRemoteAccess="0" />
    <!-- DB -->
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="default" />-->
    <!-- XML -->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ElmahLogs" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
        <!--<equal binding="HttpStatusCode" value="500" type="Int32" />-->
      </test>
    </errorFilter>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
